
* {
    box-sizing: border-box;
    text-align: center;
  }


body {
    color: #777;
   
    background: #777;

    width: 960px;

    Margin-left: 200px;

    font-size: 18px;

    font-family:AriSal, Helvetica Neue, Helvetica, sans-serif;
}


h1 {
    color: #777;
    

}

h1,nav,section,aside,footer,p,div {
    background: #ebebeb;

}


h1,nav {
    float: center;
    padding: 20px;
    margin-bottom: 20px;


}

footer {
    padding: 20px;
    clear: both;
    
  }
  
.right {
    float: left;
    width: 50%;
    height: 300px;
    padding: 40px;
    margin-bottom: 20px;
    max-width: 455px;
    margin-left: 5px;
    
  
}

.left {
    float: left;
    width: 50%;
    height:300px;
    padding: 40px;
    max-width: 495px;
    margin-right: 20px;

}



div {
    color: #777;
    padding: 15px;
    margin-bottom: 10px; 
    

}
p {
    color: #777;
    padding: 15px;
    margin-bottom: 10px; 
    

}


article {
    
    background: #777;
    color: #ebebeb;
    padding: 10px;

}





